@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*** Nav Bar **********************************************************************/
.bottomMenu {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    background-color: rgb(237,172,81);
    z-index: 1;
    transition: all .5s;
}
.hide {
    opacity:0;

}
.show {
    opacity:1;

}

.nav{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 7px 10%;
    justify-content: center;
    /*background-color: rgba(237, 172, 81,1);*/

}

.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #333;
}

.nav-ul li{
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.nav-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-ul li a:hover {
    background-color: #111;
}

/*** body **********************************************************************/

#body{
    background-color: #0e151f;
    font-family: 'Montserrat', sans-serif;
}

/*** ContentContainer ***********************************************************/
.ContentContainer{

    max-height:100%;
    max-width:100%;
    height: fit-content;
    width: 100%;
    display: inline-block;
}
/*** about **********************************************************************/

/*** GameSection ****************************************************************/
.gameSection{
    margin-top:5%;
    height: fit-content;
    padding: 50px 10%;
    text-align: center;
    background-color: #0e151f;
    color: #FFFFFF;
    max-height:100%;
    max-width:100%;
    display: inline-block;
    /*margin-bottom: 600px;*/
}

.gameSection_child{
    max-height:100%;
    max-width:100%;
    height: auto;
    width: 50%;
    float: left;
}
.gameSection_child img{
    display: inline-block;
    max-height:100%;
    max-width:100%;
    height: auto;
    width: auto;
}


/*** team **********************************************************************/

#team{
    height: auto;
    padding: 50px 10%;
    text-align: center;
    background-color: #0e151f;
    color: #FFFFFF;
}

/*** contact **********************************************************************/

#contact{
    height: auto;
    padding: 50px 10%;
    text-align: center;
    background-color: #0e151f;
    color: #FFFFFF;
}

/*** footer **********************************************************************/
#footer{
    padding: 50px 10%;
    background-color: cadetblue;
    color: #FFFFFF;
}